In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import numpy as np
%matplotlib inline

#reading in the data
file_path = 'C:/Users/anton/Documents/2de_master/Thesis/Code/analysis/Data/2. airbnb_data/Paris/Q1 airbnb_data Paris/calendar/calendar.csv'
data = pd.read_csv(file_path)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20703571 entries, 0 to 20703570
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.1+ GB

In [3]:
#fixing the price column with removing the dollar sign and making it numerical
data['price'] = data['price'].replace('[\$,]', '', regex=True).astype(float)
data['adjusted_price'] = data['adjusted_price'].replace('[\$,]', '', regex=True).astype(float)

#making sure it is datetime
data['date']=pd.to_datetime(data['date'])
#including the day of the week in the dataset
data['weekday'] = pd.Series(data.date).dt.dayofweek
data.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,weekday
0,5396,2023-03-14,f,123.0,123.0,1.0,1125.0,1
1,5396,2023-03-15,f,123.0,123.0,1.0,1125.0,2
2,5396,2023-03-16,f,124.0,124.0,1.0,1125.0,3
3,5396,2023-03-17,f,124.0,124.0,1.0,1125.0,4
4,5396,2023-03-18,f,124.0,124.0,1.0,1125.0,5

In [ ]:
print(data.isnull().mean())

In [4]:
#removing the missing values from the dataset after seeing that there are not that many missing values
data.dropna(inplace=True)
print(data.isnull().mean())

listing_id        0.0
date              0.0
available         0.0
price             0.0
adjusted_price    0.0
minimum_nights    0.0
maximum_nights    0.0
weekday           0.0
dtype: float64

In [5]:
# Check if 'price' and 'adjusted_price' are always the same
are_equal = (data['price'] == data['adjusted_price']).all()
if are_equal:
    print("The 'price' and 'adjusted_price' columns always have the same values.")
else:
    print("There are differences between 'price' and 'adjusted_price' values.")

There are differences between 'price' and 'adjusted_price' values.